# RabbitMQ Configuration
RABBITMQ_IMAGE=rabbitmq:management-alpine
RABBITMQ_CONTAINER_NAME=rabbitmq
RABBITMQ_USER=Neon-Studioz-Holi-T25
RABBITMQ_PASS=Neon-Studioz-Holi-T25
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_HTTP_PORT=5672
RABBIT_WEB_PORT=15672
RABBIT_WEB_HTTP_PORT=15672
RABBITMQ_URL=amqp://Neon-Studioz-Holi-T25:Neon-Studioz-Holi-T25@rabbitmq:5672//
RABBITMQ_MANAGEMENT_PLUGIN=true  # Enable RabbitMQ Management Plugin


# Celery Configuration
CELERY_BROKER_URL=amqp://Neon-Studioz-Holi-T25:Neon-Studioz-Holi-T25@rabbitmq:5672/
CELERY_RESULT_BACKEND=redis://redisclient:6379/0
REDIS_HOST=redisclient
REDIS_PORT=6379
CELERY_ACCEPT_CONTENT=json
CELERY_TASK_SERIALIZER=json
CELERY_TIMEZONE=UTC

# PostgreSQL Configuration
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_IMAGE=postgres:15-alpine
POSTGRES_USER=Neon-Studioz-Holi-T25
POSTGRES_PASSWORD=Neon-Studioz-Holi-T25
POSTGRES_DB=Neon-Studioz-Holi-T25
POSTGRES_PORT=5432
POSTGRES_HTTP_PORT=5432
POSTGRES_INITDB_WALDIR=/var/lib/postgresql/data/pg_wal  # PostgreSQL WAL directory

# Redis Configuration
REDIS_CONTAINER_NAME=redisclient
REDIS_IMAGE=redis:alpine3.20
REDIS_PASSWORD=redis
REDIS_PORT=6379
REDIS_HTTP_PORT=6379
REDIS_DB_BROKER=0
REDIS_DB_RESULT=0
REDIS_URL=redis://redisclient:6379/0

# NocoDB Configuration
NOCO_CONTAINER_NAME=nocodb
NOCO_IMAGE=nocodb/nocodb:latest
NOCO_DB_PORT=8083
NOCO_HTTP_PORT=8080
DB_TYPE=pg
DB_HOST=postgres
DB_PORT=${POSTGRES_PORT}
DB_USER=${POSTGRES_USER}
DB_PASS=${POSTGRES_PASSWORD}
DB_NAME=${POSTGRES_DB}
NC_DB="pg://postgres:5432?u=Neon-Studioz-Holi-T25&p=Neon-Studioz-Holi-T25&d=Neon-Studioz-Holi-T25"

# Watchtower Configuration
WATCHTOWER_CONTAINER_NAME=watchtower
WATCHTOWER_IMAGE=containrrr/watchtower:latest
WATCHTOWER_PORT=8003
WATCHTOWER_HTTP_PORT=8000

# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

AWS_SNS_TOPIC_ARN=arn:aws:sns:us-east-1:607702079586:NeonStdiozholiT25MobileVerificationOTP
AWS_SNS_TOPIC_NAME=NeonStdiozholiT25MobileVerificationOTP

# Docker Compose Network Configuration
NETWORK=backend-network
driver=bridge

# Timezone Configuration
TZ=UTC  # Set UTC timezone globally
    
# Docker Working Directory
PWD=/home/tagglab/Videos/Neon-Stdio-Holi-T25
