.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glowEffect {
  0% {
    text-shadow: 4px 4px 0 #ff5cc4, -4px -4px 0 #ff5cc4, 4px -4px 0 #ff5cc4,
      -4px 4px 0 #ff5cc4, 0 0 8px #00bfff, 0 0 15px #00bfff, 0 0 30px #00bfff;
  }
  100% {
    text-shadow: 4px 4px 0 #ff5cc4, -4px -4px 0 #ff5cc4, 4px -4px 0 #ff5cc4,
      -4px 4px 0 #ff5cc4, 0 0 12px #00bfff, 0 0 20px #00bfff, 0 0 40px #00bfff;
  }
}
@keyframes blurGlowEffect {
  0% {
    text-shadow: -2px -2px 0 #ff5cc4, 2px -2px 0 #ff5cc4, -2px 2px 0 #ff5cc4,
      2px 2px 0 #ff5cc4, 0px 0px 10px rgba(255, 255, 255, 0.8),
      0px 0px 20px rgba(255, 255, 255, 0.6),
      0px 0px 30px rgba(255, 255, 255, 0.4);
  }
  100% {
    text-shadow: -2px -2px 0 #ff5cc4, 2px -2px 0 #ff5cc4, -2px 2px 0 #ff5cc4,
      2px 2px 0 #ff5cc4, 0px 0px 15px rgba(255, 255, 255, 1),
      0px 0px 25px rgba(255, 255, 255, 0.8),
      0px 0px 40px rgba(255, 255, 255, 0.6);
  }
}
