@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Train+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://subectype.com/product/brush-king/);

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }
  .font-brush-king {
    font-family: "Brush King", sans-serif;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

/* Glow effect buy ticket */

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
    rotate: -5deg;
  }
  50% {
    transform: translateX(5px);
    rotate: 5deg;
  }
  75% {
    transform: translateX(-5px);
    rotate: -5deg;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 8px rgb(255, 0, 0);
  }
  10% {
    text-shadow: 0 0 8px rgb(255, 166, 0);
  }
  20% {
    text-shadow: 0 0 16px rgb(255, 255, 0);
  }
  30% {
    text-shadow: 0 0 16px rgb(123, 255, 0);
  }
  40% {
    text-shadow: 0 0 16px rgb(0, 255, 0);
  }
  50% {
    text-shadow: 0 0 32px rgb(0, 255, 157);
  }
  60% {
    text-shadow: 0 0 32px rgb(0, 217, 255);
  }
  70% {
    text-shadow: 0 0 32px rgb(0, 60, 255);
  }
  80% {
    text-shadow: 0 0 32px rgb(156, 0, 255);
  }
  80% {
    text-shadow: 0 0 32px rgb(255, 0, 157);
  }
  80% {
    text-shadow: 0 0 32px rgb(255, 0, 0);
  }
}

.hover\:animate-shake:hover {
  animation: shake 0.5s infinite;
}

.glow-on-hover:hover {
  animation: glow 1.4s infinite alternate;
}

@keyframes ambientGlow {
  0% {
    box-shadow: 0px 0px 20px rgba(0, 183, 255, 0.2),
      0px 0px 40px rgba(0, 183, 255, 0.1);
    filter: brightness(0.9) saturate(1.1);
  }
  50% {
    box-shadow: 0px 0px 30px rgba(0, 183, 255, 0.3),
      0px 0px 60px rgba(0, 183, 255, 0.2);
    filter: brightness(1) saturate(1.15);
  }
  100% {
    box-shadow: 0px 0px 20px rgba(0, 183, 255, 0.2),
      0px 0px 40px rgba(0, 183, 255, 0.1);
    filter: brightness(0.9) saturate(1.1);
  }
}

@keyframes blurGlowEffect {
  0% {
    text-shadow: 0px 0px 12px rgba(16, 36, 244, 0.6),
      0px 0px 24px rgba(16, 36, 244, 0.5), 0px 0px 36px rgba(16, 36, 244, 0.4);
  }
  50% {
    text-shadow: 0px 0px 16px rgba(16, 36, 244, 0.7),
      0px 0px 32px rgba(16, 36, 244, 0.6), 0px 0px 48px rgba(16, 36, 244, 0.5);
  }
  100% {
    text-shadow: 0px 0px 12px rgba(16, 36, 244, 0.6),
      0px 0px 24px rgba(16, 36, 244, 0.5), 0px 0px 36px rgba(16, 36, 244, 0.4);
  }
}

.ambient-video {
  animation: ambientGlow 6s infinite alternate ease-in-out;
  border-radius: 10px;
  transition: all 0.9s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.hover\:animate-shake:hover {
  animation: shake 0.4s ease-in-out;
}

@keyframes textGlow {
  0% {
    text-shadow: 0px 0px 8px rgba(255, 92, 196, 0.8),
      0px 0px 16px rgba(255, 92, 196, 0.6), 0px 0px 24px rgba(255, 92, 196, 0.4);
  }
  100% {
    text-shadow: 0px 0px 12px rgba(255, 92, 196, 0.9),
      0px 0px 20px rgba(255, 92, 196, 0.7), 0px 0px 28px rgba(255, 92, 196, 0.5);
  }
}
.glow-effect {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  animation: glowAbout 2s infinite alternate;
}

@keyframes glowAbout {
  from {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  }
  to {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
  }
}
